<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>PC Shop</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>🖥️ PC Shop</h1>

<div class="products">
    {% for p in products %}
        <div class="card">
            <img src="{{ p.image }}">

            <h3>{{ p.name }}</h3>
            <p>{{ p.price }} грн</p>

            <a class="btn" href="/product/{{ p.id }}">Деталі</a>
        </div>
    {% endfor %}
</div>

<a class="cart-link" href="/cart">🛒 Кошик</a>

</body>
</html>