<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Успіх</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
    <h1>PC Shop</h1>

    <nav>
        <a href="/">Каталог</a>
        <a href="/cart">Кошик</a>
        <a href="/check-compatibility">Сумісність</a>
    </nav>

    <div class="menu">
        <button class="menu-btn">⋮</button>

        <div class="dropdown">
            <a href="/admin">Адмін-панель</a>
            <a href="/orders">Замовлення</a>
        </div>
    </div>
</header>

<main class="success">
    <h1>Замовлення оформлено!</h1>
    <p>Дякуємо за покупку.</p>
    <a class="btn" href="/">Повернутися в каталог</a>
</main>

</body>
</html>